img.intro {
  width:40%
}

p.summary {
  width:55%;
  float:right;
  font-size: 16px;
}

footer.summary {
  width:55%;
  float:right;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}


.container .jumbotron {
  background-image: url("../img/flag.png");
  background-size: contain;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 2px black;
}

blockquote.white {
  background-color: white;
}

footer.quote {
  font-style: italic;
  font-size: 16px;
  color: black;
}

.column {
  width: 48%;
  float: left;
  margin: 0% 1%;
}
